<%= render :partial => "layouts/head" %>

<div id="container">
<div id="content">
  
<%= content_tag 'p', h(flash[:notice]), :class => 'notice' if flash[:notice] %>
<%= content_tag 'p', h(flash[:error]), :class => 'notice error' if flash[:error] %>

<%= yield %>
</div>

<div id="right">
  <%= yield :right %>
</div>

<br style="clear:both;" />

</div>

<div id="footer">
  <p class="disclaim">
    <strong>
    <% if site = @current_site || Site.first %>
      <%= site.tagline %>
    <% end %>
    </strong>
  </p>
    <%
      footers = [I18n.t('txt.footer_message', :default => "Two's company. Three's a forum. More's a Beast.")]
    %>
    <%= footers[rand(footers.size)]%>
    </strong>
  </p>
  <p class="credit">
    <%= I18n.t('txt.powered_by', :default => 'Powered by') %> <a href="http://github.com/jensnockert/beast_kings_chronicle/">Beast King's Chronicle (獣王記)</a><br />
    &copy; 2006 - 2013 <a href="https://github.com/jensnockert" class="subtle">Jens Nockert</a>, <a href="https://github.com/yyyc514" class="subtle">Josh Goebel</a>,
    <a href="https://github.com/courtenay" class="subtle">Courtenay Gasking</a> <%= I18n.t 'txt.and', :default => 'and' %> 
    <a href="https://github.com/technoweenie" class="subtle">Rick Olson</a>
  </p>
  <br style="clear:both;" />
</div>
</body>
</html>